<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Manuel Quarneti's personal website.">
    <meta name="keywords" content="Manuel Quarneti">
    <title>Manuel Quarneti</title>
    
    <link href="main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <script defer>
      const openProjects = () => {
        document.getElementById("projects").classList.toggle("hidden")
        document.getElementById("aboutMe").classList.add("hidden")
      }
      const openAboutMe = () => {
        document.getElementById("aboutMe").classList.toggle("hidden")
        document.getElementById("projects").classList.add("hidden")
      }
    </script>
  </head>
  <body class="flex flex-col justify-between dark:text-white dark:bg-black h-screen">
    <div></div>
    <div class="flex flex-col gap-y-8 m-auto my-8">
      {% include 'header.njk' %}
      {% include 'projects.njk' %}
      {% include 'about-me.njk' %}
    </div>
    <footer class="text-center py-4 leading-loose">
      <p class="">© 2021 Manuel Quarneti</p>
      <p class="text-gray-500">
        Made with 11ty, TailwindCSS, Feather Icons and Inter Font
      </p>
      <p class="text-gray-500">Hosted on GitHub Pages</p>
    </footer>
  </body>
</html>