<div id="aboutMe" class="hidden max-w-5xl prose p-10 sm:shadow-xl sm:rounded-2xl border-2"></div>

<script>
  fetch('https://mq1.eu/mq1/README').then(r => r.text()).then(t => document.getElementById("aboutMe").innerHTML = t)
</script>