body {
  @apply dark:bg-black dark:text-white;
}

button {
  @apply focus:outline-none;
}

.btn {
  @apply
    border border-primary-500 rounded-lg flex items-center px-2 py-1 shadow-lg bg-white
    transition duration-200 ease-in-out hover:bg-primary-500 hover:text-white
    dark:bg-black
  ;
}

.box {
  @apply bg-white dark:bg-black rounded-3xl p-8 border shadow-lg;
}

.tabs {
  @apply border rounded-lg flex whitespace-nowrap overflow-hidden;
}

.tabs * {
  @apply
    px-2 py-1 flex-1
    trasition duration-200 ease-in-out hover:bg-primary-200 dark:hover:bg-primary-800
  ;
}

.tab-active, .tabs .router-link-exact-active {
  @apply bg-primary-500 text-white hover:bg-primary-500;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-primary-600 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}
