html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  @apply text-white;
}

a {
  @apply underline underline-4 underline-offset-6;
}

.router-link-active {
  @apply underline-solid underline-teal-500;
}

blockquote {
  @apply ml-0;
}

ul {
  @apply pl-0;
}

blockquote > p {
  @apply indent-0;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-teal-600 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}
