---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { Icon } from "astro-icon";

import { Image } from "@astrojs/image/components";
import me from "../assets/IMG_4766.jpeg";
---

<Layout title="Manuel Quarneti">
	<main
		class="flex flex-col items-center justify-center gap-y-4 pt-32 sm:pt-0"
	>
		<Image
			src={me}
			height={256}
			width={256}
			format="webp"
			quality={95}
			class="rounded-full h-48 w-48 object-cover"
			alt="Manuel Quarneti"
		/>
		<h1 class="text-5xl w-full text-center dark:text-white font-['Pacifico']">
			Hi, I'm <span
				class="text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 to-pink-500 pr-1"
				>Manuel Quarneti</span
			>
		</h1>
		<ul role="list" class="w-full max-w-xl">
			<Card
				href="https://github.com/mq1"
				body="I got some projects on GitHub, check them out!"
			>
				<Icon name="mdi:github" class="w-6 h-6 text-indigo-600" />
				<span>GitHub</span>
			</Card>
			<Card
				href="https://www.linkedin.com/in/mq1/"
				body="I'm on LinkedIn, connect with me!"
			>
				<Icon name="mdi:linkedin" class="w-6 h-6 text-indigo-600" />
				<span>LinkedIn</span>
			</Card>
			<Card href="mailto:hi@mq1.eu" body="Send me an email!">
				<Icon name="mdi:email" class="w-6 h-6 text-indigo-600" />
				<span>hi@mq1.eu</span>
			</Card>
			<Card
				href="https://github.com/mq1/awesome-green-software"
				body="Check out my list of awesome eco-friendly software!"
			>
				<Icon name="mdi:leaf" class="w-6 h-6 text-indigo-600" />
				<span>Awesome Green Software</span>
			</Card>
		</ul>
	</main>
</Layout>
