---
export interface Props {
    className?: string;
    href: string;
    rel?: string;
}

const { className, href, rel } = Astro.props as Props;
---

<a class={"hover:text-violet-500 transition transform-gpu ease-in-out " + className} href={href} rel={rel}>
    <slot />
</a>
