---
export interface Props {
    className?: string;
}

const { className } = Astro.props as Props;
---

<div class={"hover:text-violet-500 transition transform-gpu ease-in-out " + className}>
    <slot />
</div>
