<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>

    <!-- Styles -->
    {{ $styles := resources.Get "main.css" }}
    {{ $styles = $styles | resources.PostCSS (dict "inlineImports" true) }}
    {{ $styles = $styles | minify }}
    <link href="{{ $styles.Permalink }}" rel="stylesheet" />

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>

<body class="flex flex-col h-screen bg-white dark:bg-black">
    <div class="m-auto" x-data="{ projects: false, aboutMe: false }">
        <h1 class="text-5xl font-bold dark:text-white">Hi, <br>I'm Manuel Quarneti</h1>
        <div class="flex gap-2 py-2">
            <a href="https://github.com/mq1/">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github dark:text-white"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
            </a>
            <a href="https://linkedin.com/in/mq1/">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin dark:text-white"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
            </a>
            <a href="mailto:manuelquarneti@gmail.com">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign dark:text-white"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>
            </a>
            <a href="https://t.me/quarno">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send dark:text-white"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
            </a>
        </div>
        <div class="flex justify-around gap-2 py-4">
            <button
                class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900 dark:hover:text-gray-400"
                @click="projects = !projects; aboutMe = false"
            >
                My projects
            </button>
            <a href="/cv/cv.pdf" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900 dark:hover:text-gray-400">
                My cv ↓
            </a>
            <button
                class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900 dark:hover:text-gray-400"
                @click="aboutMe = !aboutMe; projects = false"
            >
                About me
            </button>
        </div>

        <div
            x-show="projects"
            x-transition:enter="transition ease-out duration-100 transform"
            x-transition:enter-start="opacity-0 scale-95"
            x-transition:enter-end="opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-75 transform"
            x-transition:leave-start="opacity-100 scale-100"
            x-transition:leave-end="opacity-0 scale-95"
        >
            {{ range $key, $val := .Site.Data.projects }}
            <div class="box-border p-4 my-4 border-2 rounded shadow-xl">
                <h2 class="flex justify-between">
                    <a class="text-xl underline dark:text-white" href="{{ $val.url }}">{{ $key }}</a>
                    <a target="_blank" href="{{ $val.repo }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github dark:text-white"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                    </a>
                </h2>
                <p class="dark:text-white">{{ $val.desc }}</p>
            </div>
            {{ end }}
        </div>

        <div
            x-show="aboutMe"
            x-transition:enter="transition ease-out duration-100 transform"
            x-transition:enter-start="opacity-0 scale-95"
            x-transition:enter-end="opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-75 transform"
            x-transition:leave-start="opacity-100 scale-100"
            x-transition:leave-end="opacity-0 scale-95"
            class="py-8"
        >
            <div class="dark:text-white">
                <p class="text-center py-2">I live in Cotignola RA, Italy 🇮🇹 🇪🇺</p>
                <p class="text-center py-2">I'm studying Computer Science and Engineering @ University of Bologna</p>
            </div>
        </div>
    </div>

    <footer class="text-center py-4 dark:text-white">
        <p class="py-4">© 2021 Manuel Quarneti</p>
        <p class="text-gray-500 py-1">Made with Hugo, TailwindCSS, alpine.js and Feather Icons</p>
        <p class="text-gray-500">Hosted on GitHub Pages</p>
    </footer>
</body>

</html>