<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/js/brands.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/js/solid.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/js/fontawesome.min.js"></script>

    <!-- styles.css -->
    {% set css %}
        {% include "css/styles.css" %}
    {% endset %}
    <style>
        {{ css | safe }}
    </style>
</head>

<body>
    <header>
        <h1>Hi,<br />I'm {{ name }}</h1>
        <a href="mailto:{{ email }}"><i class="fas fa-envelope fa-2x"></i></a>
        <a href="{{ github }}"><i class="fab fa-github fa-2x"></i></a>
        <a href="{{ linkedin }}"><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="{{ telegram }}"><i class="fab fa-telegram fa-2x"></i></a>
    </header>

    {{ content | safe }}

    <br>
    <hr>
    <br>

    <footer>
        Copyright (c) 2021 {{ name }}
    </footer>
</body>

</html>