---
import Link from "../components/Link.astro";

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="h-screen flex flex-col items-center justify-between dark:bg-black dark:text-white">
		<div />
		<div class="max-w-7xl mx-auto">
			<slot />
		</div>
		<footer class="p-4 flex flex-col sm:flex-row divide-y-2 sm:divide-y-0 sm:divide-x-2">
			<p class="px-2">MIT Licensed</p>
			<p class="px-2">Copyright &copy; 2021-present Manuel Quarneti</p>
			<Link href="https://github.com/mq1/mq1.eu" className="px-2">Source code</Link>
		</footer>
	</body>
</html>
