---
import "@fontsource/inter";
import "@fontsource/pacifico";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="h-[100dvh] bg-zinc-100 dark:bg-zinc-900 flex flex-col items-center justify-between">
		<div></div>
		<slot />
		<footer class="p-4 flex flex-col sm:flex-row divide-y-2 sm:divide-y-0 sm:divide-x-2 dark:text-white">
			<p class="px-2">MIT Licensed</p>
			<p class="px-2">Copyright &copy; 2021-present Manuel Quarneti</p>
			<div class="px-2">
				<a href="https://github.com/mq1/mq1.eu" class="hover:text-violet-500 transition transform-gpu ease-in-out">Source code</a>
			</div>
		</footer>
	</body>
</html>
