---
import Link from "../components/Link.astro";
import Layout from "./Layout.astro";
---

<Layout title="Manuel Quarneti">
    <Link href="/" rel="prefetch">
        <div class="m-4 sm:mx-0 sm:my-8 text-xl">
            &larr; Back
        </div>
    </Link>
    <article class="prose dark:prose-invert border-2 rounded-lg p-8 my-8 max-w-4xl">
        <slot />
    </article>
</Layout>
